<h4 style="font-family: 'Montserrat', sans-serif;">Congratulations! Check out how many points you got!</h4>

<mat-dialog-content class="dialog" style="font-family: 'Montserrat', sans-serif; font-size: xx-large;">
{{data.points}}/500 Points
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button type="button" class="btn btn-success" mat-dialog-close style="background-color: rgba(255,78,199,0.65); font-family: 'Montserrat', sans-serif; border: none; color: #FFF;">Try Again</button>
</mat-dialog-actions>
